body{
text-align:center;
width:100px;
height: 10px;
background-color: teal;
}
#number{text-align: center;
    background-color: black;
    color: white;
    width: 300px;
    height:200px;;
    display:inline-block ;

}
#nombre{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    

}
}
#entete{
    text-align: left;
width: 1000px;
background-color: cyan;
display:inline;
}

#titre{
    text-transform: uppercase;
    font-size:20px ;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: initial;
    display: inline;
    margin: 0px;
    padding: 0px;
    color: cyan;
    background-color: cyan;
}

.acceuil{
    margin-left: 0px;
    
}
.forum{
    margin-right: 0px;
}
a{
    text-decoration:cadetblue;
    color: cyan;
}

#second_aide
{
    background-color: black;
    color:white;
    width:52%;
    float: left;
    border-collapse: collapse;
border: none;
text-align: right;

}
#aide{
    background-color: black;
    color:white;
    border: none;
    text-align:left;
    width:48%;
}
#espace{background-color: black ;
    border: none;
    
    width: 99%;
    color: white;
}
button{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
}
div{
    width:25%;
    height:40px;
    }
#gauche{
    width: 225px;
    
    background-color: red;
}
input{
    height:30px;
    
}
h1{
    font-size:20px;
}